[2015-08-20 06:24] atifaziz opened #1 "Culture Issue"
On a computer with (swiss-)german regional settings, an exception is thrown in the viewer.
Problem: Date to string conversion use current culture, but after conversion, the day string has not always 3 letters

---

Originally reported on Google Code with ID 1

Reported by @EricSch on 2008-09-25 22:30:48

---
- _Attachment: [Culture.patch](https://storage.googleapis.com/google-code-attachments/ncro

[2015-08-20 06:24] #1 closed, assigned to atifaziz

[2015-08-20 06:24] atifaziz opened #2 "Unit test CrontabScheduleTests.DontLoopIndefinitely fails, TimeCron method contains error"
Originally reported on Google Code with ID 2

[code]

Reported by `jan.verhaeghe` on 2008-11-25 09:07:25

[2015-08-20 06:24] #2 closed, assigned to atifaziz

[2015-08-20 06:24] atifaziz opened #3 "Expression not matching when expected"
Originally reported on Google Code with ID 3

[code]

Reported by `wdanda` on 2010-03-02 22:14:19

[2015-08-20 06:24] #3 closed, assigned to atifaziz

[2015-08-20 06:24] atifaziz opened #4 "DontLoppIndefinitely unittest fails"
Originally reported on Google Code with ID 4

[code]

Reported by `teh.ekik` on 2010-08-11 21:28:29

[2015-08-20 06:24] #4 closed, assigned to atifaziz

[2015-08-20 06:24] atifaziz opened #5 "Method NCrontabViewer.MainForm.Diff does not work with DateTime-Strings of specific locales"
The current release implementation (version 0.2) of `NCrontabViewer.MainForm.Diff` does not work with `DateTime`-`Strings` of specific locales. Example: try to use the application on a computer with German locale. Reason: the length of the short weekday name is just 2 (not 3).

Possible workaround: Change line 138 of MainForm.cs to

[code]

http://code.google.com/p/ncrontab/source/browse/tags/0.2/

[2015-08-20 06:24] #5 closed, assigned to atifaziz

[2015-08-20 06:24] atifaziz opened #6 "Discrepancy between weekday expression "Sun-Sat" and "Mon-Sun""
Originally reported on Google Code with ID 6

[code]

Reported by `andreas.sommer87` on 2012-02-03 12:28:20

[2015-08-20 06:24] #6 closed, assigned to atifaziz

[2015-08-20 06:24] atifaziz opened #7 "Extending the expression to seconds"
Originally reported on Google Code with ID 7

[code]

Reported by `ultra.cool.mandy` on 2012-08-23 15:23:19

[2015-08-20 06:24] #7 closed, assigned to atifaziz

[2015-08-20 06:24] atifaziz opened #8 "Strong-name assembly"
Please sign the ncrontab assembly in nuget! I'm currently signing and maintaining my own version because I need to reference it in a signed assembly. Thanks :)

---
Originally reported on Google Code with ID 8

Reported by @phrosty on 2013-06-27 21:54:38

[2016-03-11 01:09] mathewc commented on #8
Funny, I was just coming to your repo to log this same bug. We really need this as well. We're using this awesome library in several important projects, and we can't sign our assemblies because yours is not signed. E.g. https://github.com/Azure/azure-webjobs-sdk-extensions/issues/41

Is this something you can do soonish? :)

[2016-03-14 08:11] atifaziz commented on #8
[Published to NuGet](https://www.nuget.org/packages/ncrontab.signed/). Please note that this assembly is named `NCrontab.Signed` to distinguish and [avoid conflicts](https://github.com/davidebbo/WebActivator/wiki/Signing-WebActivator#why-not-just-create-a-new-major-version-without-changing-the-packageassembly-name) with the unsigned version.

[2016-03-14 08:11] #8 closed

[2016-03-14 15:32] mathewc commented on #8
Thanks for the quick turn around! So you'll be publishing both a signed and unsigned package in step going forward?

[2016-03-14 16:02] atifaziz commented on #8
@mathewc Yes, that's plan. They are 100% identical except in name (i.e. `NCrontab.Signed` vs `NCrontab`) and that one is strong-named and the other not so it doesn't look like too much trouble to keep them in step.

[2016-04-03 18:44] hgjura opened #9 "Support for L (Last day of month) or 5L (Last Friday of every month)"
Hello,

I have seen some cron implementations of L for (last day of month) or something like 5L (for last Friday of every month). Does NCrontab supports anything similar? Is there a way to impement these 2 scenarios with NCrontab. And if 'no' to both answers, is something in these lines envisioned to be added to future implementations?

Thanks
Herald

[2016-04-04 18:59] atifaziz commented on #9
@hgjura No and no.

No plans but happy to consider a solid contribution with tests via a PR.

[2016-04-04 18:59] #9 closed

[2016-05-26 10:04] AlexanderButs opened #10 "Prettify ToString return value"
Hi.

Thanks for great library and Your work.

Just want to discuss some minor issue with ToString implementation. If I parse '*/2 * * * *' schedule value and then want to make a string from this object via ToString I'll get '0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58 * * * *' value. Which is a little bit annoying. Can You fix this or I can make a pull requ

[2016-05-28 09:11] atifaziz commented on #10
@AlexanderButs I think it's a reasonable request/expectation though to keep things KISS for the library, the responsibility of maintaining the originally parsed expression was left up to the user. For example, why not introduce a simple type in your code along the lines of the following?

[code]

It's simple to introduce and gives you more control, don't you think?

[2016-05-30 07:44] AlexanderButs commented on #10
Hi, again.

Off course I can do this. I can do any thing inside my own code. But when I parse "2" value I'll get 2 and when call ToString I'll get not "1+1" and not "3-1", I'll get exactly "2". So I expect the same behavior from any library I use. Does it make sense? May I expect such behavior from NCrontab library?

[2016-05-30 14:49] vcaraulean opened #11 "Validating the expression"
I need code to check if expression is valid. I'm doing this now:
[code]
Is there a better way to do it?

PS: any particular reason it's not exposed in API? Or nobody requested it?

[2016-05-30 17:40] atifaziz commented on #11
The better way would be to use the [simpler overload of `CrontabSchedule.TryParse` that just accepts the expression as an argument](https://github.com/atifaziz/NCrontab/blob/c37c9d1aba8166277e59987947c6f5302cc38a66/NCrontab/CrontabSchedule.cs#L99), like this:

bool IsCronExpressionValid(string expression) =>
    CrontabSchedule.TryParse(expression) != null;

[2016-05-30 17:40] #11 closed

[2016-05-30 19:41] vcaraulean commented on #11
Indeed, this looks simpler. It's probably a matter of personal taste, but between terseness and explicitness in public apis I'd go for the option that is more "user friendly".

Thanks!

[2016-05-31 04:50] atifaziz commented on #11
Not sure I understand your comment. What's terse, what's not explicit and what's not user-friendly?

[2016-05-31 20:57] vcaraulean commented on #11
I wanted to say that I would prefer a more explicit API over the cleverness and terseness of public API combined with absence of code documentation.

// rant mode on

How that worked for me?
 - I need to check if expression is valid.
 - try ... catch looks dumb, there might be a method for that
 - Oh, cool. There is TryParse method
 - Crap, it's not returning a bool but something else
 - Oh, there

[2016-06-01 07:19] atifaziz commented on #10
As I said, it's a reasonable expectation so let's go ahead with but…

…if you can make a PR (with unit tests, please) that I can review and merge then things would go quicker. If it's up to me alone then I'll eventually get round to it but I'm busy on other projects at the moment so this would be a low priority considering that [a reasonable workaround exists](https://github.com/atifaziz/NCrontab/

[2016-06-01 07:31] AlexanderButs commented on #10
Ok, deal.
I've made a fix in my own code as you suggested earlier.
About PR: If I find a time slot for this activity I'll do it for sure. With unit test of course :)
Thanks for Your collaboration.

[2016-06-03 17:38] atifaziz commented on #11
@vcaraulean Thanks for taking the time to drop that feedback. I think the right solution here would be to update the README with a quick start section on common use cases for the impatient.

So hopefully NCrontab helped you out and it feels like you got a free :beer: but expecting that everything would be sorted out and perfectly in line with your expectations is somewhat unrealistic/unfair. Nonet

[2016-06-14 13:22] mrahhal opened #12 "Support .NET Core"
Any plans for supporting .NET Core?

[2016-06-14 17:38] atifaziz commented on #12
@mrahhal Last time I checked (before RC2, that is), it just worked as NCrontab is already a PCL targeting a profile that was supported by .NET Core. Are you seeing an issue?

[2016-06-14 17:53] mrahhal commented on #12
I didn't really try using the PCL (I think it should work). But what I mean is supporting a `netstandard` TFM. I don't think the support for PCLs in .NET Core would go away but it would be really great if a `netstandard` version is available (so that I don't have to play with `imports` for now).

You might want to do that anyway, I mean switching to `project.json`. It can build to all target platf

[2016-06-14 19:34] atifaziz commented on #12
Since the PCL is a workable option, it seems wasteful to spend time right now targeting RC2 when the tooling remains preview. [`.xproj` and `project.json`](https://blogs.msdn.microsoft.com/dotnet/2016/05/23/changes-to-project-json/) is going away so I'd rather let the dust settle there and do the migration in one shot. What's more, moving the project to preview tooling would exclude other people w

[2016-06-14 19:39] mrahhal commented on #12
Nope, forgot some people are still waiting for RTM (especially the tooling) so it makes sense to stay like this for now as long as it works :+1:
I'm going to try the PCL and let you know if everything works as expected.

[2016-06-14 19:58] mrahhal commented on #12
@atifaziz works great if I add the following:

[code]

[2016-06-14 20:08] atifaziz commented on #12
@mrahhal Thanks for dropping and reporting that! 👍

[2016-07-14 15:33] AlexanderButs commented on #10
Please, review pull request 26ffc8b

[2016-08-22 18:04] dsoprea opened #14 "Hour semantics"
I wanted to get clarification on usage edge-cases.

1. Should there be any problems using a range ending on midnight (e.g. 21-0)?
2. Is it possible to provide a range that crosses over midnight (e.g. 21-5)?
3. Is it possible to provide multiple ranges provided as a list (e.g. 21-0, 0-5)?

Thanks.

[2016-08-24 18:41] atifaziz commented on #14
That's the same as 0-21, so scheduled hours will go from midnight to 9 PM.

No, that's the same as 5-21.

Yes but I don't think the result is what you're hoping. It's effectively the same as 0-21.

I think `0 0-5,21-23 * * *` should give what you want.

[2016-08-24 18:41] #14 closed

[2016-08-24 18:47] dsoprea commented on #14
Hmm. Might be worth *preventing* (0) from every being used on the right side of a range since the results will probably never be preferable/expected. Either way, we should probably mention this in the README, though there are some mechanics that I won't be able to explain. Could *you* update the README to explain this, as well as, if you have a moment, some sort of explanation as to why?

Thanks.

[2016-10-14 13:30] FelisPhasma opened #15 "CrontabSchedule.GetLastOccurrence"
Hello,
I am trying to use NCronTab in a project I'm working on. I would like to be able to get the previous scheduled occurrence. I have done a little work with trying to implement this, however I have had no success.

[2016-10-14 14:20] FelisPhasma commented on #15
From what I've looked at so far, I believe that I need to implement a `CrontabField.Last` method, and then write a `CrontabSchedule.GetLastOccurrence` which calls `CrontabField.Last` instead of ``CrontabField.Next`. I haven't been successful with this...

[2016-10-14 14:24] atifaziz commented on #15
You could use [`Pairwise`][pairwise] and [`Prepend`][prepend] from [MoreLINQ][morelinq] to achieve that. Open a Command Prompt and then run `nuget install ncrontab -Version 3.1` followed by `nuget install morelinq -Version 1.4`. Then fire up [C# Interactive][csi] and try the following:

[code]

Hope this helps.

[morelinq]: https://www.nuget.org/packages/morelinq/1.4.0
[pairwise]: https://morelinq

[2016-10-14 17:07] FelisPhasma commented on #15
@atifaziz Yes, this seems to work, however wouldn't it be more optimal to write in support as I described above? Thanks for the help.

[2016-10-17 19:13] atifaziz commented on #15
@FelisPhasma Your requirement to recall the previous schedule seems application-specific so I'm reluctant to add it to the library. It can also be solved in several ways. I only showed one quick solution that uses MoreLINQ to show you can achieve what you're after using other existing libraries to build over the occurrences sequence returned by NCrontab. Another simple way would be to hold the pre

[2016-10-18 15:48] Lissi4kin opened #16 "Cron with every 1 hour works incorrectly"
#Hi,

I have two crons:
1. 40 14/1 * * *
2. 40 14/2 * * *

NCrontab get me result for first:

For second:

First is invalid, it should be

I think it's bug

[2016-10-18 21:02] #15 closed

[2016-10-19 13:20] atifaziz commented on #16
So it seems. Thanks for reporting this.

A workaround meanwhile would be to write `40 14/1 * * *` instead as `40 14-23 * * *`.

[2016-10-20 04:40] Lissi4kin commented on #16
Yes, I did, thanks

[2016-10-20 06:58] #16 closed

[2016-10-20 07:04] atifaziz commented on #16
This is now fixed in [release 3.2](https://github.com/atifaziz/NCrontab/releases/tag/v3.2).

[2016-11-03 10:49] radenkozec opened #18 ".NET Core support"
Does this library support .NET Core?
If not do you plan to support it?

[2016-11-29 21:20] fabiocav commented on #18
Bump.

Do you plan on updating to target Netstandard any time in the near future?

[2016-11-30 18:18] atifaziz commented on #18
@radenkozec Yes and actually it is supported and [works](https://github.com/atifaziz/NCrontab/issues/12#issuecomment-225998017). See #12 for more.

@fabiocav I do have a migration in the works in the [`netcore`](https://github.com/atifaziz/NCrontab/tree/netcore) branch but looks like my quantum keeps running out. What's your idea of the near future? Does the [solution](https://github.com/atifaziz/

[2016-12-01 07:53] atifaziz commented on #12
Re-opening now that .NET Core 1.x is out.

Plan is to not require [importing via a PCL profile](https://github.com/atifaziz/NCrontab/issues/12#issuecomment-225998017) as well as building using `dotnet` CLI.

[2016-12-01 07:54] atifaziz commented on #18
I've re-opened #12 and closing this as a duplicate. Subscribe to #12 if you're interested in updates.

[2016-12-01 07:54] #18 closed

[2016-12-01 17:58] fabiocav commented on #18
@atifaziz sorry for the late reply. Netstandard support would be ideal, but I can take a look at the details on #12 and will comment there if I ran into issues.
I may not get around to testing that for a while, just working on early planning and being proactive here as we intend to migrate Azure Functions (https://github.com/azure/azure-webjobs-sdk-script) to .NET Core and we're using NCrontab the

[2016-12-02 09:03] atifaziz opened #20 "Respect OpenSymphony Software License terms"
- [ ] Add copyright per [condition 1][c1]
- [ ] Add copyright to packages and binaries per [condition 2][c2]
- [ ] Acknowledgment per [condition 3][c3]

[c1]: https://github.com/atifaziz/NCrontab/blob/c878aa9f9c0afc7a9cd099b04e864ca8b86af57f/lic/OpenSymphony.txt#L13-L14
[c2]: https://github.com/atifaziz/NCrontab/blob/c878aa9f9c0afc7a9cd099b04e864ca8b86af57f/lic/OpenSymphony.txt#L16-L19
[c3]: https

[2016-12-16 14:12] #12 closed

[2016-12-16 14:15] atifaziz commented on #18
This has now been addressed via #19 and d13d9e415203a892691029b5a12f414c60f10d34.

[2016-12-19 07:36] atifaziz opened #21 "GetNextOccurrence throws if next occurrence produces invalid time"
## Step to Reproduce

Install [NCrontab 3.2.0](https://www.nuget.org/packages/ncrontab/3.2.0) and then run the following C# script assuming `NCrontab.dll` is in the same folder as the script:

[code]

## Expected Output

Expected the sequence of occurrences to end with the date Feb 29, 9988.

## Actual Output

The sequence throws `ArgumentOutOfRangeException` instead of ending after yielding Feb 2

[2016-12-21 08:02] #20 closed

[2016-12-21 09:17] atifaziz opened #22 "References errors in VS projects"
When the solution is loaded in VS, projects claim references are in errors as shown in the image below:

![image](https://cloud.githubusercontent.com/assets/20511/21383510/628f9c74-c766-11e6-838f-3581f970abde.png)

There are no errors to be found in the **Error List** and the project just build fine.

This issue might be to do with the `.xproj` tooling just being in preview status.

[2016-12-21 15:37] atifaziz commented on #12
NCrontab is now available as a [.NET Standard](https://docs.microsoft.com/en-us/dotnet/articles/standard/library) 1.0 library with [release 3.3](https://github.com/atifaziz/NCrontab/releases/tag/v3.3).

[2016-12-21 15:38] atifaziz commented on #18
NCrontab is now available as a [.NET Standard](https://docs.microsoft.com/en-us/dotnet/articles/standard/library) 1.0 library with [release 3.3](https://github.com/atifaziz/NCrontab/releases/tag/v3.3).

[2017-01-26 06:43] unosbaghaie opened #23 "problem in months with 31 days"
when I choose start date 1/29/2017  and the end date as 2/5/2017   with this pattern "* * 2/* 0 0" the result would be
1/29/2017 12:00:00 AM
1/31/2017 12:00:00 AM
2/1/2017 12:00:00 AM
2/3/2017 12:00:00 AM
2/5/2017 12:00:00 AM
that the issue is with 31st  and 1st .
could you give me a hint or any suggestion to come up with a solution ?
thanks

[2017-01-26 07:39] atifaziz commented on #23
First of all, `"* * 2/* 0 0"` is not a valid crontab expression. If you try the following:

[code]

you will get an exception saying:

Best is you post a working code example of your problem.

[2017-01-26 07:44] unosbaghaie commented on #23
thanks for your reply

check this

` var occurances  =  NCrontab.CrontabSchedule
    .Parse("0 0 */2 * *")
    .GetNextOccurrences(new DateTime(2017, 1, 29), new DateTime(2017, 2, 5));`

[2017-01-26 08:26] atifaziz commented on #23
`*/2` for the month field means _every 2nd day of the month_. That's separate for _each month_. It doesn't mean every second day of the year.

Have a look over at what [crontab.guru gives for your expression](https://crontab.guru/#0_0_*/2_*_*):

![image](https://cloud.githubusercontent.com/assets/20511/22324383/41742cd0-e3a9-11e6-83dd-f0130c5e5e5d.png)

It describes `0 0 */2 * *` as “At 00:00 on e

[2017-01-27 10:54] atifaziz commented on #23
I'm closing this as by-design as the result is consistent with what the crontab expression says and other implementations.

[2017-01-27 10:54] #23 closed

[2017-01-27 16:38] zumoshi opened #24 "ranges that cross over midnight"
Hello,
I would like to report an unexpected behavior.

Cron:
`* 20-4 * * *`

I expect it to work as if written:
`* 20,21,22,...,3,4 * * *`

it works as if written:
`* 4,5,6,...,19,20 * * *`

I believe `20-4` should expand to `20-23,0-4` rather than `4-20`. since it makes little sense to write the numbers backwards. the original crontab considers midnight crossing ranges as invalid so either case i

[2017-01-27 17:25] atifaziz commented on #24
As pointed out in #14, this won't work. In fact, I should disallow inverted ranges and throw an error instead to avoid confusion. You can also see on [crontab.guru](https://crontab.guru) that [`* 20-4 * * *` is considered invalid](https://crontab.guru/#*_20-4_*_*_*) (_hour_ is in red):

![image](https://cloud.githubusercontent.com/assets/20511/22380295/4502132a-e4bd-11e6-8d52-5d117eedda90.png)

Yo

[2017-01-27 17:49] atifaziz opened #25 "Disallow inverted ranges like 20-4"
Disallow inverted ranges, as in `20-4 * * * *`. It confuses folks (see #24 and #14) and most other implementations don't allow it either.

This would be a breaking change so it should be done in the next major version.

[2017-01-27 18:36] atifaziz commented on #24
I'm going to close this because the behaviour is by-design. The right fix is to disallow such an expression to avoid confusion and which is now being tracked as issue #25.

[2017-01-27 18:36] #24 closed

[2017-01-28 06:24] unosbaghaie commented on #23
hey dude, I think you didn't get what I mean, I want to say every two days . for example
1/29/2017
1/31/2017
2/02/2017
2/04/2017
2/06/2017
...
I think the pattern is correct but as you indicated in the picture, the title says "every 2nd day of the month" but the generated days are every two days .

pay attention please
`next at 2017-01-27 00:00:00
then at 2017-01-29 00:00:00
then at 2017-01-31 00:

[2017-01-28 08:53] atifaziz commented on #23
Let's just look at two dates. Based on _your interpretation of the pattern_, you expect an occurrence of the schedule on **Jan 31st** then **Feb 2nd**. Correct? Instead, NCrontab is giving you **Jan 31st** then **Feb 1st**. In [your original post](https://github.com/atifaziz/NCrontab/issues/23#issue-203302549), you said that's the issue:

If you look at [the picture](https://cloud.githubuserconten

[2017-03-06 16:57] galiolas opened #26 "Every n weeks"
Hello,

how could i get a recurrence every n weeks?
I read on forums that Cron cannot handle the every n weeks pattern, so in SQL with your DLL how could i do it? thanks

[2017-03-07 07:23] atifaziz commented on #26
[Crontab expressions](https://github.com/atifaziz/NCrontab/wiki/Crontab-Expression) don't have a way to express what you're asking. With NCrontab, however, you could however build on top of a base schedule using LINQ. For example:

[code]

The base schedule of the `0 12 * * Mon` expression yields Mondays midday. Then using [`TakeEvery`](http://morelinq.github.io/1.x/ref/api/html/T_MoreLinq_MoreEnu

[2017-03-07 22:50] unionthugface commented on #26
I likewise am seeing a problem with CrontabSchedule.Parse with the following string:
```0 0 * 11 4-6/4```
This is parsed as `0 0 * 11 4`, and so GetNextOccurrences brings up all Thursdays -- not just the 4th one -- and ignores the Fridays and Saturdays requested.  Is my pattern wrong?

[2017-03-08 00:10] unionthugface opened #27 "Slashes in days of week are experiencing trouble"
I am seeing a problem with `CrontabSchedule.Parse` when there is a slash in the days-of-week field.  For instance the following string:
`0 0 * 11 4-6/4`
This is parsed as `0 0 * 11 4`, and so `GetNextOccurrences` brings up all Thursdays -- not just the 4th one -- and ignores the Fridays and Saturdays requested. Is my pattern wrong?

Another example, `0 0 * 1-2 Mon/3` becomes `0 0 * 1-2 1,4` (i.e.

[2017-03-08 08:00] atifaziz commented on #27
You're misunderstanding how slashes work in crontab expressions. The `/4` in `4-6/4` means _every 4th day-of-week_ and the `4-6` part means Thursday-Saturday and so the only day that qualifies for the _every 4th day-of-week_ is Thursday. If you hop over to [crontab.guru](https://crontab.guru) and [test the `0 0 * 11 4-6/4` expression](https://crontab.guru/#0_0_*_11_4-6/4), then you'll see the desc

[2017-03-08 08:00] #27 closed

[2017-03-08 08:00] atifaziz commented on #26
Closing this in the hope that the question is answered.

[2017-03-08 08:00] #26 closed

[2017-04-07 10:02] YoungjaeKim opened #28 "Is seventh field invalid?"
`0 0 12 1/1 * ? *` is Invalid in NCronTab (created from [CronMaker](http://www.cronmaker.com/)) with below exception message,

	CrontabSchedule.ParseOptions options = new CrontabSchedule.ParseOptions()
	{
		IncludingSeconds = true,
	};
	CrontabSchedule.Parse("0 0 12 1/1 * ? *", options);

But, _7th field is optional_ Year expression as official documentation described; http://www.quartz-scheduler.

[2017-04-07 10:42] atifaziz commented on #28
NCrontab does not support a year field.

Who says that Quartz is _the official_ documentation on crontab expressions?

[According to Wikipedia](https://en.wikipedia.org/wiki/Cron#CRON_expression):

[2017-04-07 10:44] YoungjaeKim commented on #28
Ah, got it.
thanks for clarify.

[2017-04-07 10:44] #28 closed

[2017-05-15 17:50] shytikov opened #29 "Is it possible to sign assembly distributed on nuget?"
I'm getting errors loading `NCrontab` in runtime because it is not signed, while my assemblies are. To fix the problem I made my code unsigned too, but this is not what you would normally do.

Would really appreciate if it could be signed, it should not take much of the effort.

[2017-05-15 20:03] shytikov commented on #29
Sorry, I've found signed version on `NuGet`. Didn't imagined that it would be so easy!

[2017-05-15 20:03] #29 closed

[2017-05-24 15:44] Rui90 opened #30 "Why no year field?"
Why don't you provide the year definition? It does not make sense. Should I be able to say: run this task only once in this date? 20/2/2037?

[2017-05-24 17:05] atifaziz commented on #30
This is by-design. See #28 for why.

You don't need crontab to express that since it occurs once never repeats. A simple date should be fine for that.

[2017-06-01 11:05] atifaziz commented on #30
Closing on the assumption the question is [answered](https://github.com/atifaziz/NCrontab/issues/30#issuecomment-303788743).

[2017-06-01 11:05] #30 closed

[2017-08-29 10:06] skewwhiffy opened #31 "Day ranges through Sunday"
Failing test here: https://github.com/skewwhiffy/NCrontab/blob/DayRangeIssue/NCrontab.Tests/CrontabScheduleTests.cs#L381

A day range like SAT-MON is treated as an inverted range 6-1, rather than SAT,SUN,MON.

#25 is probably linked: certainly disallowing such ranges would be better behaviour than treating it as an inverted range.

Happy to try and fix this, just let me know.

[2017-08-29 15:19] atifaziz commented on #31
Yes, #25 is the real issue/resolution so I'll close this and we can continue any discussion over at #25.

[2017-08-29 15:19] #31 closed

[2017-08-29 15:35] atifaziz commented on #25
In #31, @skewwhiffy said:

Thanks for the offer to try & fix. Just keep in mind that this issue proposes a breaking change so it's only going to be rolled into the next major release and I don't have a schedule for that yet.

[2017-08-30 06:43] skewwhiffy commented on #25
@atifaziz Is it worth fixing the FRI-MON issues separately, as it's not immediately obvious that this is an inverted range issue?

[2017-08-30 20:40] atifaziz commented on #25
@skewwhiffy The code to parse ranges is the same for all fields of the crontab expression so if you fix it for one, it's fixed for all.

[2017-09-01 07:05] skewwhiffy commented on #25
@atifaziz I know, I'm proposing separating them because I don't think that 'FRI-MON' should be treated in the same way as '5-1': the latter looks and feels like an inverted range, but the former, at least to humans, does not.

[2017-09-19 20:38] Styxxy commented on #22
Hi,
When upgrading to Visual Studio this should be resolved.
Also see my pull request #32 .

[2017-10-01 13:19] Styxxy commented on #21
Internally the GetNextOccurrences method calls the GetNextOccurrence method. This method always returns a DateTime, which cannot be null.

I found in this case also another "problem". If for above schedule, you request a next occurrence with start/end date that would not generate any occurrence for the given schedule; the end date will be returned.

Sample:

    var schedule = CrontabSchedule.Pars

[2017-10-02 11:07] #22 closed

[2017-10-03 11:20] atifaziz commented on #21
@Styxxy Sounds reasonable.

[2017-10-04 10:44] #21 closed

[2017-11-25 13:16] howardlo opened #35 "Zeroth occurence not working"
Trying to create occurences every five minute but is missing zeroth occurrence.
[code]

Also tried `CrontabSchedule.Parse("0,*/5 * * * *")` and `CrontabSchedule.Parse("0 * * * *")` and still no zeroth occurences.

[2017-11-25 17:54] atifaziz commented on #35
As [documented for the `GetNextOccurrences` method](https://github.com/atifaziz/NCrontab/blob/v3.3/NCrontab/CrontabSchedule.cs#L164-L179
), it does not return the base time if it falls on the schedule:

[code]

Basically, both `start` and `end` in your example are exclusive. Even if you wind `start` by a tick, as in `start.AddTicks(-1)`, you should get the expected result:

[code]

The output will

[2017-11-25 17:54] #35 closed

[2017-11-25 17:57] howardlo commented on #35
Hi Atif,

Missed that part of the doc. Sorry for the trouble and thanks!

Howard

From: Atif Aziz [mailto:notifications@github.com]
Sent: Saturday, November 25, 2017 12:55 PM
To: atifaziz/NCrontab <NCrontab@noreply.github.com>
Cc: howardlo <howardlo@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [atifaziz/NCrontab] Zeroth occurence not working (#35)

As documented for the GetNextOcc

[2017-12-09 00:38] atifaziz opened #36 "Support multiple schedules"
Some complex schedules cannot be expressed in a single crontab expression, e.g. a schedule that occurs every 6 hours on weekdays but every 12 hours on weekends. This can be solved by supporting multiple schedules that are merged into one. In other words, given a sequence of `CrontabSchedule` instances, a method could be designed to produce _distinct and ordered_ occurrences.

[2018-03-08 16:44] Corstiaan84 opened #38 "CrontabSchedule.Parse breaks in dotnet core 2.0?"
Hi there,

Getting this error under core 2.0:

`Exception thrown: 'NCrontab.CrontabException' in NCrontab.dll
The thread 73294547 has exited with code 0 (0x0).
Exception thrown: 'System.AggregateException' in System.Private.CoreLib.dll`

Thoughts?

[2018-03-08 17:45] atifaziz commented on #38
Certainly need more details to help. The only thing I can tell you otherwise is that [`CrontabException` is thrown for parsing errors only](https://github.com/atifaziz/NCrontab/search?q=crontabexception) so somewhere in your code, an invalid string is being parsed as a [crontab expression](https://github.com/atifaziz/NCrontab/wiki/Crontab-Expression).

[2018-03-08 19:05] Franklin89 opened #39 "Exception when using 6 components"
I am getting the following exception when using: `CrontabSchedule.Parse`. Using Version 3.3.0

[code]

[2018-03-08 19:37] atifaziz commented on #39
A 6-field expression is an extension to the standard 5-field crontab expression. Make sure that you call the `Parse` method overload that accepts a `ParseOptions` object and that its `IncludingSeconds` is set to `true`, like this:

https://github.com/atifaziz/NCrontab/blob/f0c43e00e65aa025506229891718460e1ad7916b/NCrontab.Tests/CrontabScheduleTests.cs#L69-L73

[2018-03-08 21:50] Franklin89 commented on #39
Ahhh got it thanks :-) sorry for opening and issue for this.

Sent from my iPhone

[2018-03-08 22:19] #39 closed

[2018-04-23 14:09] mserafym opened #40 "Replace "lablel" and "goto" in CrontabSchedule.cs (no issue)"
https://github.com/atifaziz/NCrontab/blob/26c223fd3649a821ac38c27c11dfee7af2e65271/NCrontab/CrontabSchedule.cs#L285-L359

new code (start with 285):

            /**/ while(true)
            {
                if (day == nil)
                {
                    second = seconds.GetFirst();
                    minute = _minutes.GetFirst();
                    hour = _hours.GetFirst();

[2018-04-23 15:47] atifaziz commented on #40
The _very exceptional_ use of `goto` here is completely intentional. An infinite while-loop with a flow continuation and break statement doesn't tell you much about what's going on, especially because the loop body is large. A `goto` with a clearly named label (telling you that it's going to jump to a point where the day and month computation will be retried) on the other hand does seem more meani

[2018-04-23 15:47] #40 closed

[2018-04-23 15:53] mserafym commented on #40
Thank you for response and the explanation! Now I understood the point. Most likely, I'm just "afraid" of goto

[2018-04-26 06:13] Miggleness opened #41 "Make obvious in code/documentation that cron timing is better with UTC"
I think there is value in being upfront that scheduling with cron is based on UTC, and not local time.

1. Update documentation
2. Update 'cron' arguments with 'cronUtc'

I can take this up granted the @atifaziz  does have free time to take up PRs 😀

[2018-04-26 08:01] atifaziz commented on #41
I agree with #&#xfeff;1 but I'm less sure about the value of #&#xfeff;2. The documentation should just highlight the issue, that assuming local time can cause surprises like a schedule being potentially skipped when the clock moves back.

I welcome a PR for this (thanks for the offer) and I'll find the time to review as long as you don't hold me to a deadline! 😉

Where do you plan to address this?

[2018-04-27 15:47] Miggleness commented on #41
Awesome, you're still active :)

And should be both README and XML documentation.

[2018-04-28 13:03] Miggleness commented on #41
my apologies mate.  I realized I logged the issue on the wrong project, to which NCrontab is a dependency.

Did look at the source and NCrontab appears to respect, or rather does not enforce anything that may not have been intentioned by the calling component.

[2018-04-28 13:03] #41 closed

[2018-04-28 14:38] atifaziz commented on #41
LOL 😆and no worries. Just curious, what's the other project?

[2018-04-28 16:00] Miggleness commented on #41
It’s cronDaemon.

[2018-11-19 11:33] jpiquot opened #42 "Incorrect occurence"
Version 3.3.0
ASP NET Core 2.1

Code :
          var schedule = CrontabSchedule.Parse(CronExpression); // 1 * * * *
          var whenUtc = schedule.GetNextOccurrence(StartedUtc.Value); // 11/19/2018 11:09:23 AM

Result : whenUtc = 11/19/2018 12:01:00 PM
Expected Result : whenUtc = 11/19/2018 11:10:23 AM

the schedule._minutes = 1 and all other variables have a *. The parse is correct but not the

[2018-11-19 14:04] jpiquot commented on #42
My cron expression was incorrect.
SOLVED

[2018-11-19 14:04] #42 closed

[2018-12-18 07:52] rmadisonhaynie commented on #39
Hi @atifaziz I'd consider adding this in the documentation and the exception message as I also nearly created a bug for this.
Thank you!

[2018-12-26 08:32] Metalnem opened #43 "CrontabSchedule.Parse throws OverflowException instead of CrontabException"
**CrontabSchedule.Parse** can sometimes throw **OverflowException** instead of **CrontabException**. Here is the full program to reproduce this:

[code]

And here is the full stack trace:

[code]

Found via [SharpFuzz].

[SharpFuzz]: https://github.com/Metalnem/sharpfuzz

[2019-01-27 10:08] alirezapooneh opened #44 "Persian Calendar to parse CRON expressions"
Hi all,
I want to run recurring task in Hangfire by CRON expression like (* 10 1 * * ) to run at 10 of first day of month, But I want to run first day of persian calendar month(Farvardin,Ordibehesht,…).
Hangfire use NCrontab to parse CRON expressions.
Is it possible to change locale or calendar or implement any to support it?

[2019-01-28 16:03] atifaziz commented on #44
No in the current version.

It could certainly be implemented but it would be best if it's spec'd out by someone who understands the intricate details of the Persian calendar. I certainly don't have the knowledge. Even if this project adds support, it doesn't guarantee that Hangfire will.

[2019-01-29 07:09] atifaziz commented on #44
Two problems:

1. I don't completely understand what the expected outcome should be.
2. If I understand the problem and it's simple enough, it might take me as much time to explain as to implement it. :wink:

You can help with 1 by explaining what the expectation is (e.g. do you expect to use English names for Persian months and week days?) and adding unit tests that would fail, showing lack of su

[2019-01-29 10:34] alirezapooneh commented on #44
I review source code yesterday and find static calendar instance that all calculation are done by it.
All description about Persian Calendar found in [https://docs.microsoft.com/en-us/dotnet/api/system.globalization.persiancalendar?view=netframework-4.7.2](url)

I think Calendar instance must be a culture specific calendar like it:
`static Calendar Calendar => new CultureInfo("fa-IR").Calendar`

[2019-02-16 14:28] VitorCioletti opened #47 "Is there any way to use UTC?"
Does this library support any cron expression to use UTC timezone?

[2019-02-17 05:37] ejsmith opened #48 "Signed assembly is empty"
In the new 3.3.1 release the signed version of the package is empty. The non-signed version works fine.

[2019-02-17 10:55] atifaziz commented on #48
I'm not seeing the same thing. If I install the signed package:

[code]

and look at its contents:

[code]

then it doesn't seem to be empty.

[2019-02-17 13:08] ejsmith commented on #48
Yes, it has assemblies, but there are no types in the assemblies. They are empty.

[2019-02-17 13:09] ejsmith commented on #48
I am specifically on netstandard2.0 but I think it was the same for all of them.

[2019-02-17 15:05] atifaziz commented on #48
Wow, you're right! I ran [`ilspycmd`](https://www.nuget.org/packages/ilspycmd/) to decompile the DLL and it has no types defined in it whatsoever:

[code]

How did that happened? 😕

[2019-02-17 15:07] ejsmith commented on #48
LOL yeah, good question. 😀 I’m sure it will be something dumb like it always is. I was going to take a look yesterday, but I had already worked the entire day.

[2019-02-17 15:17] atifaziz commented on #48
Ah, it seems that in d47ad6cd32e68eb6753c8d904299b67982eeb960, I blew away one line too many that included all the C# source files (`*.cs`):

[code]

And so sure enough it was. 🤦‍♂️ I think there ought to be a compiler warning for an assembly emitted without any types. 😛

I need to find a smarter way to keep `NCrontab.csproj` and `NCrontab.Signed.csproj` in sync rather than doing it by hand but I

[2019-02-17 15:20] ejsmith commented on #48
The reasons for not signing your assembly used to be because it made binding redirects a nightmare, but that isn’t the same any more. You should read through this site:

https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/strong-naming

[2019-02-17 21:47] atifaziz commented on #48
Trouble is that it's still a nightmare for .NET Framework:

[2019-02-17 21:48] #48 closed

[2019-02-17 22:06] atifaziz commented on #47
Schedules are calculated irrespective of time zone so you it's up to the caller to decide how to have the resulting time interpreted and adjusted.

[2019-02-17 22:14] atifaziz commented on #48
@ejsmith Could you test [NCrontab.Signed 3.3.2-ci-20190217T2148](https://www.myget.org/feed/raboof/package/nuget/NCrontab.Signed/3.3.2-ci-20190217T2148) and confirm it's good to go?. You can install it using the following command-line:

    NuGet install NCrontab.Signed -Version 3.3.2-ci-20190217T2148 -Source https://www.myget.org/F/raboof/api/v3/index.json

[2019-02-18 07:47] ejsmith commented on #48
Right, but even that has gotten better and also they recommend you don't increment the assembly version unless you do a major breaking release which would be pretty much never with a simple package like this one.

Right, but even that has gotten better and also they recommend you don't increment the assembly version unless you do a major breaking release which would be pretty much never with a sim

[2019-02-18 08:32] atifaziz commented on #48
I'll consider that for the next release.

[2019-02-18 08:46] atifaziz commented on #48
The fix is now published with [release 3.3.2](https://github.com/atifaziz/NCrontab/releases/tag/v3.3.2-sn) and package version 3.3.1 for [ncrontab.signed](https://www.nuget.org/packages/ncrontab.signed/) has been unlisted.

[2019-05-02 17:59] elksson opened #50 "Any Operator Support"
For some reason I cannot get this ? (Any Operator) to work.

Is there a way to create the following cron using NCronTab?

? ?/15 7-22 * * *

At ? seconds past the minute, every 15 minutes, starting at ? minutes past the hour, between 07:00 AM and 10:59 PM

[2019-05-03 09:08] atifaziz commented on #50
NCrontab doesn't claim to support `?` in any of the fields of the expression (see [Crontab Expression](https://github.com/atifaziz/NCrontab/wiki/Crontab-Expression)) so it's not surprising you can't get it to work.

[2019-05-07 13:53] elksson commented on #50
How would one start to add this support?

[2019-05-09 07:16] atifaziz commented on #50
I'm not sure at which level you're asking this. Do you mean how to add support to this project via a PR or are you looking for guidance at the code level in your own private fork?

Either way, there is no standard definition of `?`. For example, the [CRON expression](https://en.wikipedia.org/wiki/Cron#CRON_expression) section of the [Wikipedia article on Cron](https://en.wikipedia.org/wiki/Cron) s

[2019-05-22 19:08] mklement0 opened #51 "ParseOptions should be an enum"
This API is very hard to use from PowerShell due to needing to construct a ParseOptions object in order to call Parse.

[code]

[2019-05-23 09:38] atifaziz commented on #51
The reason it's not an enum is that I can't say if future options will all be just Boolean flags and using an options object is a more extensible approach from forward and backward compatibility. In general, a .NET library will have to be wrapped for it to appear PowerShell-wise idiomatic. You could avoid introducing `$parseOptions` by re-writing the initialization as follows:

[code]

What would

[2019-05-23 09:38] #51 closed

[2019-05-23 12:03] mklement0 commented on #51
Thank you for your detailed and thoughtful response.

I'd actually forgotten about `New-Object`'s  ability to initialize instance properties as an alternative to calling a constructor with arguments.

You can even use syntactic sugar with casts:

[code]

(Obviously, an `[enum]` is still much more convenient, because PowerShell allows you to simply pass _strings_ (`'IncludingSeconds'`), but I under

[2019-05-23 12:25] atifaziz commented on #51
Not you see, even I'd forgotten that terser method, but glad to see one suggestion leading to another. 😄

[2019-05-23 14:00] jzabroski commented on #51
Very impressive, Atif.

[2019-06-28 13:36] thojaw commented on #30
It's not true that it doesn't make sense. I'd love to define the Expression `0 0 0 1 1 ? */2` which will run the Task every two years, on 01.01.2020, 01.01.2022, 01.01.2024 etc.

[2019-07-12 08:21] atifaziz commented on #30
I agree but the opening comment in the issue was about a specific year and perhaps I was taking too literally. That said, I'm still not very inclined to add this since, as I said [my comment in #28](https://github.com/atifaziz/NCrontab/issues/28#issuecomment-292505232), it's non-standard:

[2019-07-17 09:43] thojaw commented on #30
Understand, it's a pity that it (the standard implementation) limits the intervals to a period < 1 year. This appears quite shortsighted especially when using these expressions as a more general, useful notation to express intervals, e.g. when I have to renew my Car registration in May every 2 years.

[2019-09-11 02:09] apatel2848 opened #52 "Issue with get occurrences by N number of days"
Is there a way to get occurrences of every N number of days without resetting to a month?

For example, 0 0 0 1/7 * ? for the beginning date of 09-10-2019 will give occurrences every 7 days until end of September but next date of occurrence will start on October 1st instead of continuing from the last occurrence date of September.

Result:
09-15-2019
09-22-2019
09-29-2019
10-01-2019
10-08-2019
10-

[2019-09-11 09:35] atifaziz commented on #52
I am afraid not because `1/7` means every 7th day of the starting from the 1st of that month. If you checkout what [crobtab guru has to say for `0 0 1/7 * *`](https://crontab.guru/#0_0_1/7_*_*), it reads, “At 00:00 on every 7th day-of-month from 1 through 31.” If you click the _next_ link to ask for a sample of next occurrences, you'll see that it's consistent with NCrontab:

![image](https://user

[2019-09-11 09:35] #52 closed

[2019-11-01 11:03] Atrejoe opened #55 "TryParse and Parse returns altered schedule when interval is out of range"
Expression `*/250 * * * *` in some dialects means every 250 minutes.
NCrontab does not support this expression, which is not what my issue is about.

When trying to validate this expression, using `CrontabSchedule.TryParse("*/250 * * * *")`, this (silently) returns an `hourly` schedule (`0 * * * *`) instead instead of `null`.
Also `CrontabSchedule.Parse("*/250 * * * *")` returns this hourly schedu

[2019-11-01 11:04] Atrejoe commented on #55
I created a pull request, this may be debatable.
see: https://github.com/atifaziz/NCrontab/pull/53

I can image that a schedule like 'every 250 minutes' should still be supported.

[2019-11-16 21:18] elksson commented on #50
I would like direction on how I would fork the project to add support so that ? would use the time the cron expression started. Then after I have implemented I would like to make a pull request to bring it back into the project.

[2020-01-09 18:48] julealgon opened #56 "Implement 'IEquatable<ContrabSchedule>`' on 'ContrabSchedule'"
There is currently no way to check a `ContrabSchedule` object for equality against another schedule.  It's also not possible to properly implement a custom `EqualityComparer` from the outside since the fields that store the data inside the schedule are all private.

This could be fixed by implementing `IEquatable<ContrabSchedule>` on the model.

[2020-01-10 08:42] atifaziz commented on #55
`*/250 * * * *` means [_at_ every 250th minute](https://crontab.guru/#*/250_*_*_*_*). The returned schedule isn't altered, _it is lowered_. The `*` in `*/250` is like saying `0-59` so the returned schedule will occur at minute 0 but no other minute after that since it would be out of range; in effect, the returned/lowered schedule is `0 * * * *`. This is not much different than `5-10/10 * * * *` b

[2020-01-10 08:42] #55 closed

[2020-01-10 09:52] atifaziz commented on #56
I'll think about this but meanwhile…

The `ToString()` implementation of `ContrabSchedule` returns an expanded/lowered version of the one originally parsed expression:

https://github.com/atifaziz/NCrontab/blob/b6659e45d60de554c5619d7f35f39ad1114b6542/NCrontab/CrontabSchedule.cs#L376-L397

It can be used today as a good basis for equality comparison via an `IEqualityComparer<CrontabSchedule>` impl

[2020-02-07 17:47] MichaelSchofeld opened #58 "Start date equal to end date will give back no sequence?"
If i supply a start-date Feb 11, 1pm and an end-date Feb 11, 2 pm.  and I say i want all occurrences that fall on Tuesdays in this date range.. Feb 11 is a Tuesday so should it not return 1 occurrence?

Just wondering if this is a bug or by design?

[2020-02-11 08:24] atifaziz commented on #58
As per the documentation, start/base and end date and time are exclusive:

https://github.com/atifaziz/NCrontab/blob/b6659e45d60de554c5619d7f35f39ad1114b6542/NCrontab/CrontabSchedule.cs#L171-L178

So this is by-design assuming your crontab expression was _hourly_ on Tuesdays; that is `0 * * * Tue`.  If you had something like this (every 15 minutes of a Tuesday ):

[code]

then you should see 3 occ

[2020-02-11 08:24] #58 closed

[2020-02-13 10:47] nilabhsagar opened #59 "Ability to provide Nth occurrence in cron expression"
We have a requirement in which we wanted to run a job on every 2nd Sunday of a month. However we could not able to setup such cron expression like below

0 0 5 ? * 7#2
0 0 5 ? * SAT#2
The above expression mens At 05:00:00am, on the 2nd Saturday of the month, every month
Note #2 means every 2nd occurrence.

[2020-02-13 16:04] atifaziz commented on #59
In this library, I want to stay true to the original crontab expression. If you have additional requirements for your application that means extending the expression, you could build it on top of NCrontab and in a more powerful and extensible manner. For example:

    cron_expression | filter

Then if you have this:

[code]

You take the expression on the left of `|` and feed it to `CrontabSchedul

[2020-02-13 16:04] #59 closed

[2020-02-22 23:00] rrodriguez1975 opened #60 "NCrontab.Signed 3.3.2 Nuget says Could not find a part of the path when compiling VB.NET solution"
I have a Windows Service application made with VB.NET and .NET Framework 4.5 that was compiling and working successfully until I have installed NCrontab Signed 3.3.2.

I have installed NCrontab package through Nuget package manager console by using below command:

Nuget has added below references to my project under packages folder ..\packages\ncrontab.signed.3.3.2\lib\net35\NCrontab.Signed.dll:

[2020-02-24 09:52] atifaziz commented on #60
This problem has to do with NuGet, which according to @nkolev92, [seems to have been fixed](https://developercommunity.visualstudio.com/content/problem/390075/nuget-could-not-find-a-part-of-the-path.html#) with [NuGet.Build 2.12.1](https://www.nuget.org/packages/NuGet.Build/2.12.1). I am closing this issue as its unrelated to this project. Your best option is to [post the issue](https://github.com

[2020-02-24 09:52] #60 closed

[2020-02-27 05:15] nilabhsagar commented on #59
Thank you

[2020-03-30 08:33] jimmywim opened #61 "The type 'CrontabSchedule' exists in both 'NCrontab.Signed' and 'NCrontab'"
Have installed via `dotnet add package ncrontab --version 3.3.1`

Added using statement:
[code]

When trying to use `CrontabSchedule` like this:
[code]

 I get the following error:

[code]

[2020-03-30 19:45] atifaziz commented on #61
Somewhere in the dependency graph of your application, someone is referencing [ncrontab.signed at version 3.2.0](https://www.nuget.org/packages/ncrontab.signed/3.2.0). As the error says, the type `CrontabSchedule` is being found in both assemblies (NCrontab and NCrontab.Signed). You need to use one of the two packages/assemblies.

[2020-03-30 19:45] #61 closed

[2020-04-25 01:55] serkanp opened #62 "wrong occurance result"
please check this cron string
45 */1 */16,17,18 2,3 *
it must be between 16,17,18. days but occurance result gives 1 , 17 ,18.  days..

[2020-04-30 21:20] atifaziz commented on #62
If you want days 16-18 then you want the following expression:

    45 */1 16-18 2,3 *

The expression `45 */1 */16,17,18 2,3 *` gives 1st of the month because `*/16` gives you every 16th day of the month starting from the 1st. So you get day 1 then 1 + 16 (= 17). On top of that, `17,18` give you day 17th and 18th but 17th here is redundant with `*/16` so you get 1, 17 and 18 in the end.

You can

[2020-04-30 21:20] #62 closed

[2020-05-28 13:27] HeinPauwelyn opened #63 "Crontab expression for every first tuesday of every month"
How could I create an timer trigger with Azure Functions _(version 3 and .NET Core)_ that must be executed every first Tuesday from every month at 8 AM. Starting from now _(05/08/2020)_ this must be the next five occurrences:

1.	2020/06/02 Tue 08:00:00
2.	2020/07/07 Tue 08:00:00
3.	2020/08/04 Tue 08:00:00
4.	2020/09/01 Tue 08:00:00
5.	2020/10/06 Tue 08:00:00

By using [www.cronmaker.com][1], I've

[2020-06-02 13:34] atifaziz commented on #63
This library only supports the [original contrab expression](https://github.com/atifaziz/NCrontab/wiki/Crontab-Expression). The `#1` modifier is an extension, which is why you get an error.

A _first Tueday_ of a month can only occur on day 1-7, so you could use the `0 8 1-7 * Tue` expression to effectively get 8 AM on first Tuesday of any month.

[2020-06-02 13:37] atifaziz commented on #63
@HeinPauwelyn Consider closing this issue if the question's been answered.

[2020-06-02 14:27] #63 closed

[2020-06-17 01:00] dominique-canzeri-gameloft opened #64 "GetPreviousOccurence?"
hello,

right now, I need to call GetOccurences(reasonableStart, now).Last() for this
it's simple enough, but it seems inefficient, since it needs to calculate all occurences between the two dates.
and I need to determine a 'reasonableStart' date, which is not always easy.

Is this something that could be added? or maybe I haven't thought of something?

[2020-07-05 14:43] rshillington commented on #47
@VitorCioletti here's a [dotnet fiddle script](https://dotnetfiddle.net/C80NhB) that may help in switching between local times and UTC.

In our case, we store the NextOccurance in our database in UTC and we query in UTC, looking for jobs that are due to run.  However, we allow the user to specify the cron expression in their local time (which means we need their timezone)

In this script, I assume

[2020-07-11 10:04] UnoSD opened #65 "Cycling hour range"
I am trying to run an Azure Function every 5 minutes between 17 (PM) and 8 (AM).

The expression `*/5 8-17 * * *` works correctly between 8-17, but if I try to reverse it to `*/5 17-8 * * *` to do between 5PM and 8AM, it does not trigger. I verified correctness of cycles (from PM to AM) in regular cron descriptor sites, but I presume NCrontab works differently.

Can you please help with the expres

[2020-07-15 13:29] colin-chang opened #66 "it can't parse cron string with '?'"
when I try to parse a cron expression with '?' like `0 0 16 ? * SUN-THU`, I got an error message bellow:

`NCrontab.CrontabException: '?' is not a valid [Day] crontab field value. It must be a numeric value between 1 and 31 (all inclusive)`

[2020-07-20 10:55] atifaziz commented on #66
NCrontab does not support [non-standard characters] and extensions like `?`. The [Crontab Expression] page describes the supported syntax.

I am closing this as by-design.

[non-standard characters]: https://en.wikipedia.org/wiki/Cron#Non-standard_characters
[Crontab Expression]: https://github.com/atifaziz/NCrontab/wiki/Crontab-Expression

[2020-07-20 10:55] #66 closed

[2020-07-20 22:11] atifaziz commented on #65
You can get that with the expression `*/5 0-8,17-23 * * *` ([see also on crontab guru](https://crontab.guru/#*/5_0-8,17-23_*_*_*)). As you've noticed, simply reversing (as in `*/5 17-8 * * *`) [doesn't work](https://crontab.guru/#*/5_17-8_*_*_*) and is by-design.

I am closing this in the hope that it answers your question.

[2020-07-20 22:11] #65 closed

[2020-07-21 08:18] UnoSD commented on #65
thank you @atifaziz I managed to get it to work using exactly that syntax, I forgot to close the issue before.

[2020-08-10 02:08] Kingjue2 opened #67 "How to indicate the last day of each month？"
I tried to use the letter "L", but it was not recognized.

[2020-08-10 02:12] #67 closed

[2020-10-02 19:37] amferguson opened #71 "Access fields in CrontabSchedule?"
First, thanks so much for this library! It has been very useful. I apologize if this has been addressed already, but I couldn't find it in any past issues.

Do you have any plans (or objections?) to making it possible to get the fields along with their value range and their `CrontabFieldKind` from a `CrontabSchedule`? It looks like `CrontabFieldImpl` already has all of that exposed as public prope

[2020-10-27 18:02] atifaziz commented on #71
There are no such plans as there's never been any such demand before (IIRC). It's hard to object without knowing for what purpose. You said it would give you access to more detailed information about individual fields but you didn't say much about the scenarios or use cases it would support. I honestly don't see a private implementation detail like `CrontabFieldImpl` becoming public; it's encapsul

[2020-10-27 18:14] atifaziz opened #72 "Consider making public crontab field types private"
Types like `ICrontabField` and `CrontabField` needn't be public. Not even the tests require their public access. Consider making them private for the next major release.

This is a design bug.

[2020-10-27 18:15] atifaziz commented on #71
Actually your request here has prompted me to create issue #72, which I consider to be a design bug. 😉

[2020-10-27 23:21] MatisseHack commented on #71
For my case, I needed to know if some code was executing during a certain scheduled time period. I settled on something like this:

[code]

Exposing `CrontabField` properties on `CrontabSchedule` would be much preferred to this rudimentary parsing. I'm imagining something like this:

[code]

[2020-10-27 23:27] MatisseHack commented on #72
This would be a breaking change for me. I certainly understand wanting to simplify the public interface, but I hope that `CrontabField` can be kept around 🤞

[2020-10-28 09:32] atifaziz commented on #72
Abandoning based on [feedback](https://github.com/atifaziz/NCrontab/issues/71#issuecomment-717598099)  from @MatisseHack.

[2020-10-28 09:32] #72 closed

[2020-10-28 11:30] atifaziz commented on #71
@MatisseHack Thanks for those examples. Always helps! Also, made me realise that #72 isn't a good idea for now so have abandoned it.

If I understand what you're trying to do, you want to _poll_ whether the current time occurs in the schedule. Here's another way to accomplish the same without relying on `CrontabField`…

Suppose you have an extension method that floors time to the minute component,

[2020-10-28 19:41] MatisseHack commented on #71
That is exactly what I wanted to accomplish!

I had considered a similar approach, but thought it might not be as clear what the intention of the code was. Now that I see your example, I think it is a reasonable alternative.

I would still love to have access to `CrontabField` properties on `CrontabSchedule` (perhaps a different issue than the original request), but your approach would unblock me

[2020-11-06 17:05] amferguson commented on #71
Hi @atifaziz

Thanks for getting back to me! My use case is kind of specific, but not so dissimilar to @MatisseHack's. Basically, what I'm trying to do is convert a bunch of NCrontab schedules into Quartz's version of cron expressions on the fly. Because their formats don't line up exactly, I need to adjust the NCrontab ones when doing the conversion since Quartz is a bit finicky about the * chara

[2020-11-07 15:34] atifaziz commented on #71
@amferguson Thanks for coming back with your scenario.

I feel you should be able to get by reasonably well with what NCrontab exposes publicly today. I've put together a small demo (also [posted as a gist](https://gist.github.com/atifaziz/540e5bbac2903567588acbfce9477642) you can download and explore) of you could approach this:

[code]

Apart from the initial string split, you can parse each ind

[2020-11-17 21:00] Matthias-Hess opened #83 "Occurrence intervals interpreted with gaps"
Consider the following example:

[code]
I would expect to see
- 3 occurrences in occurrencesAB (21:25, 21:26, 21:27)
- 2 occurrences in occurrencesBC (21:28, 21:29)
- 5 occurrences in occurrencesAC (21:25, 21:26, 21:27, 21:28, 21:29)

Instead, what I get is
- 2 occurrences in occurrencesAB (21:26, 21:27)
- 1 occurrences in occurrencesBC (21:29)
- 4 occurrences in occurrencesAC (21:26, 21:27, 21:28

[2020-11-18 07:49] atifaziz commented on #83
@Matthias-Hess As noted in the remarks section of the method documentation:

https://github.com/atifaziz/NCrontab/blob/b6659e45d60de554c5619d7f35f39ad1114b6542/NCrontab/CrontabSchedule.cs#L171-L179

The start and end are _exclusive_. You'll need to account for the fact that `b` is _excluded_ in your first _and_ second call because it is at the limits of the range you specify unlike in your third c

[2020-11-18 07:49] #83 closed

[2020-11-18 08:05] Matthias-Hess commented on #83
@atifaziz Thanks  for your response. You understood my issue correctly, and I understand that this is by design.
I will use AddTicks() to get exactly what I want.

[2020-11-23 17:53] amferguson commented on #71
Hi @atifaziz,
So sorry for the delay in getting back to you but thank you so much for the example! I think this will work very well, and I especially like the extension method you added. Thanks for taking the time to offer that up, and also again for the library itself. I'll go ahead and close this, because I don't think there's anything I won't be able to do with the API as-is.

Adam

[2020-11-23 17:53] #71 closed

[2020-12-03 12:35] LordMike commented on #47
In theory, just "pretending" a DateTime has the proper timezone should do it. It won't handle anything like daylight saving times and so on though..

[2020-12-22 02:05] rbiq opened #84 "6-part schedule doesn't work"
mySchedule = CrontabSchedule.Parse(this.scheduleText);

NCrontab.CrontabException: ''3 * * * * *' is an invalid crontab expression. It must contain 5 components of a schedule in the sequence of minutes, hours, days, months, and days of week.'

[2020-12-22 02:06] #84 closed

[2020-12-22 02:07] rbiq commented on #84
mySchedule = CrontabSchedule.Parse(this.scheduleText, new CrontabSchedule.ParseOptions
            {
                IncludingSeconds = true
            });

[2021-01-15 21:55] rbiq opened #85 "Job runs multiple times in the same schedule"
I'm having a really weird issue with your library. In development the hosted service job on an asp.net core 3.1 web application will be called only once as set in cron schedule (once a day at hh:mm:ss A/PM). However when deployed to production on aws EC2 it runs multiple times. And the number is also arbitrary and not fixed. So like 1 day it will run 5 times, next week 8 and so on. Have you heard

[2021-01-15 21:57] rbiq commented on #85
Here's the code in case you're interested:

[code]

Even tried to control it using cache but no luck.

[2021-01-15 22:03] rbiq commented on #85
[code]

[2021-01-16 18:19] atifaziz commented on #85
I am afraid not.

Let me know what you find out and I hope you get to the bottom of your issue. NCrontab is a very simple and barebones library so I'd hate to say it, but I think it seems to have something to do with your production setup or environment. NCrontab has been around for 12 years, downloaded nearly 30 millions times, and powers [timer triggers in Azure Functions](https://docs.microsoft

[2021-01-18 15:57] rbiq commented on #85
Did you get a chance to review the code and see if there was anything wrong I was doing there? Also can you please provide a few examples on how you would use your library in a production environment like in a hosted service for example? That would be really helpful.

[2021-01-18 19:46] atifaziz commented on #85
I don't have that kind of time. This is free and open source software. It is a relatively small and featureless library that does two things: parse crontab expressions and calculate the next occurrence of a schedule. It should be relatively easy to study or debug if you think the problem is with the library though I would first try to reproduce the problem in development. Other than that, you seem

[2021-01-18 22:55] rbiq commented on #85
Thanks. Best wishes.

[2021-01-18 22:55] #85 closed

[2021-01-19 18:42] beloune opened #86 "Complete readme with formating example"
An example in the readme to illustrate the formating could be very usefull.
thanks

[2021-01-21 04:01] rbiq commented on #85
@atifaziz I figured out the issue and have reinstalled your fantastic library. It was related to IIS Max Worker Process setting. Thank you so much for your help!

[2021-01-22 08:17] atifaziz commented on #85
@rbiq Hey thanks for dropping in the with the good news! Glad to hear you got to the bottom of the problem and wish you all the best with the rest of your project.

[2021-02-07 19:28] jdmallen opened #87 "NCrontabViewer throwing InvalidCastException"
[This line](https://github.com/atifaziz/NCrontab/blob/31e32f47e302a8d26f295e70940a09585ceb3fa7/NCrontabViewer/MainForm.Designer.cs#L44) and [this line](https://github.com/atifaziz/NCrontab/blob/31e32f47e302a8d26f295e70940a09585ceb3fa7/NCrontabViewer/MainForm.Designer.cs#L176) each fail to be casted to `ISupportInitialize`. Looks like `ToolStripStatusLabel` no longer inherits from that interface in

[2021-02-08 08:02] atifaziz commented on #87
Thanks for reporting this! Feel free to send a PR if you wish to receive credit otherwise I'll close this issue when I get round to fixing it.

[2021-02-08 11:55] jdmallen commented on #87
I'm not sure the best approach to fixing it, as I'm not terribly familiar with what `ISupportInitialize` does. I do know that it seems to work fine with the line omitted; I see a status bar with "Ready" at the bottom of the window. If that's the best solution, I'll happily remove the two offending lines in a PR.

[2021-02-08 12:34] jdmallen commented on #87
I put a PR in anyway for you to merge at your discretion. Thanks!

[2021-02-09 09:53] #87 closed

[2021-02-24 08:07] will056 opened #90 "Incorrect calculation of the second"
Hey!
I encountered unexpected behavior.

Using the schedule: * 0-1 10 * * *
I call the schedule at 24/02/2021 09:50:35
I get date 24/02/2021 10:00:36

I come to life that the schedule will give the time 24/02/2021 10:00:00.
Your calculation of the second start is calculated as the current second + 1.

Is this a bug or my expectations are not correct?

[2021-02-27 18:21] atifaziz commented on #90
Seems like you've landed on a bug indeed. Thanks for spotting and reporting!

[2021-02-27 18:58] atifaziz commented on #90
Same bug can be observed with the schedule `* * 10 * * *`. Following code prints `24/02/2021 10:00:36` instead of `24/02/2021 10:00:00`:

[code]

[2021-02-27 19:13] atifaziz commented on #90
Yet another case when the same bug can be observed is with the schedule `* 55 * * * *`. Following code prints `24/02/2021 09:55:36` instead of `24/02/2021 09:55:00`:

[code]

[2021-02-28 15:54] #90 closed

[2021-07-04 16:12] kulashaker30 opened #93 "Time Trigger doesn't trigger inside docker container"
My time trigger isn't firing after running it in a docker container. But it is not an issue when running the project locally (JetBrains).

[2021-07-04 16:14] #93 closed

[2021-10-26 09:55] angelaki opened #94 "Remove necessity of ParseOptions"
Right now the only setting available is `IncludingSeconds`. But why does this need to be set at all? Right now I just use `IncludingSeconds = value.Split(' ').Length > 5`.

If actually wanted I'd recommend an enum e.g.

[code]

with a default value of `IncludeSeconds`. This way you could still use `Explicit` or `Explicit | IncludeSeconds` for the current behavior and its generic by default.

[2022-01-14 16:25] FLAMESpl commented on #47
Actually UTC is the only zone this library can handle due to mentioned DST nuances.

[2022-01-15 13:55] atifaziz commented on #94
Because it's a more future-proof approach in case other options need to be added that may not be simple Booleans (which is what an `enum`-based approach with flags would be too).

[2022-01-15 13:55] #94 closed

[2022-02-23 13:00] georg-eckert-zeiss opened #96 "List Open Symphony License separately"
Hi there,

right now both licenses (Apache and Open Symphony) are included in the same file. Please add two separate files like `LICENSE-Apache-2.0` and `LICENSE-Open-Symphony-1.1` to make it visible that two licenses are used.

GitHub lists this project as only Apache-2.0 licensed.

Thank you,
Georg

[2022-02-24 18:28] atifaziz commented on #96
I usually don't let the hosting platform and UI drive these decisions.

As stated in `COPYING.txt`, the OpenSymphony Software License, Version 1.1, is derived and compatible with Apache License, Version 2.0:

https://github.com/atifaziz/NCrontab/blob/d47ad6cd32e68eb6753c8d904299b67982eeb960/COPYING.txt#L182-L183

I don't find there is anything to be gained or more clarity provided by separating th

[2022-02-24 18:28] #96 closed

[2022-02-25 09:09] georg-eckert-zeiss commented on #96
Thanks for your reply. As its impossible to fulfill all license requirements by hand in larger projects, many developers get help from FOSS scanners. In that case it's very useful if the license files are separated. Of course verifying the result is necessary, but this would make it easier.

Still your choice.

Best regards,
Georg : )

[2022-02-26 15:39] atifaziz commented on #96
The problem is that while splitting the file might satisfy some tools, it can hinder others. Right now, having one file makes it easier for packaging (for [review in nuget.org](https://www.nuget.org/packages/ncrontab/3.3.1/License)):

https://github.com/atifaziz/NCrontab/blob/9b68c8d1484ccd56a8f0bc1ce12e7270736f3493/NCrontab/NCrontab.csproj#L21

I wouldn't know how to workaround that and yet satis

[2022-02-28 08:06] georg-eckert-zeiss commented on #96
Thank you for clarification : )

[2022-03-19 15:16] mmehdidehghani opened #97 "formatting example for second"
How can i set syntax for 10 second, I used"*/10 * * * * * and i got this error:
{"'*/10 * * * * *' is an invalid crontab expression. It must contain 5 components of a schedule in the sequence of minutes, hours, days, months, and days of week."}

[2022-05-06 09:49] sarawalabs opened #99 "Cron job defined for a specific date of the month but still running daily."
Hi I have defined the below cron expression for a job, however this is still running daily, any idea how to make sure it should run on severy 6th of a month, be whichever day it is on that particula date.

"0 12 6 * *"

[2022-05-11 08:45] atifaziz commented on #99
NCrontab does not do any scheduling of jobs. It simply parses a crontab expression and provides methods for generating `DateTime` instances that fit the schedule represented by the expression. Please provide code that demonstrates the problem where NCrontab produces `DateTime` instances other than at midday on the 6th of every month. Meanwhile, see [the timestamps produced by NCrontab for `0 12 6

[2022-05-11 08:45] atifaziz commented on #99
I am going to close this, but happy to re-open once there is follow-up.

[2022-05-11 08:45] #99 closed

[2022-05-12 16:49] pada57 opened #100 "is project still maintained ?"
Hello

as i don't see any commits since  a year and last release even older, is it still a maintained project ? or is there any news one forking that one ?

[2022-08-26 15:03] XtremeOwnageDotCom opened #102 "This project dead / abandoned?"
Was looking for a good library for parsing cron schedules, came across this one.

But, a bit weary as there are untouched issues since 2020. The last commit was over a year ago....

And... well, there doesn't seem to be much activity here.

[2022-09-13 10:32] piotrszpruta opened #104 "Scheluded jobs missfire"
Scheluded jobs run 2 hours later than expected. For example:
It should run every working day at 6:00 (6:00AM) cron expression: 0 6 * * 1-5 - but it runs at 8AM

Tried already with seconds also, but no luck. Any help?

[2022-09-26 18:21] mrxrsd opened #105 "Inclusive options on `GetNextOccurrences`"
Hi,

Is there any tricky reason to baseTime/endTime not be inclusive? or it was just a design decision ?

I was thinking to create a PR with a new api proposal :

[code]

Do you think it can be a nice feature?

[2022-10-05 20:53] piotrszpruta commented on #104
@atifaziz I don't see any stuff related to time zone in NCrontab documentation, or you think of different method?

[2022-10-05 21:00] atifaziz commented on #104
That's right, not in NCrontab; it's agnostic. My suggestion was to look elsewhere, perhaps in the (job scheduling) code using NCrontab, and I was thinking of time zones because the two hours difference you mentioned sounds typical of a time zone offset/translation issue.

[2022-10-06 19:36] atifaziz commented on #104
I'm going to close this an issue external to NCrontab. Feel free to re-open if you can demonstrate with code that it's a bug in NCrontab.

[2022-10-06 19:36] #104 closed

[2022-10-06 20:33] atifaziz commented on #105
It was a design decision that avoids bugs in the simplest use cases without additional thought and effort. It's easier to start with `GetNextOccurrence` where the problem is more obvious. The goal with `GetNextOccurrence` was that you can feed its previous result into a subsequent invocation to, for example, loop through occurrences. It should be possible to do that in simple loop constructs like

[2022-10-06 21:15] mrxrsd commented on #105
makes senses! In the end I've come up with the same solution. Thanks for ur time.

[2022-10-06 22:48] #105 closed

[2022-11-21 14:21] LuckyyyStrike opened #106 "Expression of 30th/31th february throws ArgumentOutOfRangeException"
# Steps to reproduce
Call GetNextOccurence() on a parsed expression of this format: "0 0 30 2 *"

# Description
Obviously the 30th/31th february does not exist. Why does this expression even parse succcessfully, when an expression like "0 0 32 * *" does not?

[2022-11-23 21:18] atifaziz commented on #106
Because it's valid per the [expression rules](https://github.com/atifaziz/NCrontab/wiki/Crontab-Expression). The rule says the _day_ field can go from 1 to 31 _irrespective_ of the month or the other fields. Thing is, if you have an expression like `0 0 30 1-6 *` that says midnight on the 30th of the first 6 months then you February will be skipped.

[2022-11-24 15:32] LuckyyyStrike commented on #106
Makes sense

[Issue 21](https://github.com/atifaziz/NCrontab/issues/21) talks about the same problem that occurs here. There, the issue was resolved by returning the endDate argument when calling GetNextOccurences. Wouldn't it make sense to do the same here?